<h2 class="text-center mb-4">Here are your flashcards!</h2>

<div class="container d-flex justify-content-center">
  <div class="w-100 w-md-75 w-lg-50">

    <% @words_array.each do |hash| %>
      <div class="row mb-4">

        <!-- left card -->
        <div class="col-12 col-md-6 mb-3 mb-md-0">
          <div class="border rounded-4 p-4 py-5 bg-light shadow-sm">
            <h3 class="m-0 text-center"><%= hash.keys.first %></h3>
          </div>
        </div>

        <!-- right card -->
        <div class="col-12 col-md-6">
          <div class="border rounded-4 p-4 py-5 bg-success text-white shadow-sm">
            <h3 class="m-0 text-center"><%= hash.values.first %></h3>
          </div>
        </div>

      </div>
    <% end %>

  </div>
</div>

<!-- Fixed bottom button -->
<div class="position-fixed bottom-0 start-50 translate-middle-x mb-4">
  <%= simple_form_for @deck, data: { turbo: false } do |f| %>
    <%= f.button :submit, "Save deck", class: "btn btn-primary btn-lg px-5 shadow" %>
  <% end %>
</div>
