<footer class="bg-light text-center mt-auto py-3">
  <div class="container">
    <small class="text-muted d-block mb-1">© <%= Time.current.year %> CrashCards</small>
    <small class="text-muted d-block">CrashCards is in beta. Features and languages are added with ❤️ continuously by Dominik, Antonius, Hubert and Christian.</small>
  </div>
</footer>
